<p id="notice"><%= notice %></p>

<p id='foo' style="border:2px dotted">
  <b>Name:</b>
  <%= @shop.name %>
</p>

<p>
  <b>Slogan:</b>
  <%= @shop.slogan %>
</p>

<p>
  <b>Address:</b>
  <%= @shop.address %>
</p>

<p>
  <b>Description:</b>
  <%= @shop.description %>
</p>

<p>
  <b>Logo:</b>
  <%= @shop.logo %>
</p>

<p>
  <b>Weight:</b>
  <%= @shop.weight %>
</p>

<p>
 <b>Tags:</b>
 <%= join_tags(@shop) %>
</p>

<h2>Comments</h2>
<%= render @shop.comments %>

<h2>Add a comment:</h2>

<%= render "comments/form" %>

<%= link_to 'Edit', edit_shop_path(@shop) %> |
<%= link_to 'Back', shops_path %>
